@charset 'UTF-8';
body,
ul,
p,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  user-select: none;
}
img {
  display: block;
  max-width: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@keyframes move-t {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
.w {
  width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}
.main > div {
  padding: 0 100px;
}
.main .aside .pic-top {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 20px auto;
  animation: move-t 1s ease-in-out;
}
.main .aside .top01 {
  background: url(../img/01.jpg) no-repeat center top;
  background-size: cover;
}
.main .section {
  margin-top: 40px;
  animation: move-t 1s ease-in-out;
  margin-bottom: 100px;
  transition: all 0.8s;
}
.main .section h2 {
  font-weight: 400;
  animation: move-t 0.8s ease-in-out;
  text-align: center;
  padding-top: 30px;
}
.main .section p {
  margin-top: 20px;
}
.main .section p span {
  font-weight: 700;
}
.main .section pre {
  padding-top: 20px;
}
.main .section:hover {
  box-shadow: 0 0.7px 1px rgba(0, 0, 0, 0.157), 0 1.7px 2.6px rgba(0, 0, 0, 0.224), 0 3.5px 5.3px rgba(0, 0, 0, 0.28), 0 7.3px 11px rgba(0, 0, 0, 0.346), 0 20px 30px rgba(0, 0, 0, 0.5);
}
.footer {
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
}
.footer a i {
  font-size: 20px;
  color: #1e1e1e;
}
.footer a span {
  color: #1e1e1e;
  font-size: 10px;
}
.footer a:hover span,
.footer a:hover i {
  color: #ccc;
}
